.pagination-ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 40px;
  position: relative;
  align-items: center;
}
.pagination-ul .pagination-item {
  margin-right: 12px;
  margin-left: 12px;
  cursor: pointer;
  font-size: 2.1vh;
  font-weight: 700;
}
.pagination-list-next {
  transform: rotate(360deg);
}
.pagination-list-next {
  cursor: pointer;
}
.pagination-list-previous {
  cursor: pointer;
  transform: rotate(180deg);
}

.pagination-color {
  color: #65a9f0;
}
